@import "partials/colors", "partials/font-styles", "partials/list-elements", "partials/map", "partials/footer", "partials/navbar", "partials/suche", "partials/filters", "partials/singleElement"; // @include google-font ("Open+Sans", "Work Sans");

 // ------ MAIN ELEMENTS ------//
body {
  margin: 0;
}

.home {
  margin-left: 3%;
  margin-right: 3%;
}

 // ------ BUTTONS ------//
.main-button {
  @include button;
  @include button-text;
}

.filter-button {
  @include filter-button;
  @include button-text-filter;
}

.button-single-element {
  @include button;
  @include button-text;
  width: 95% !important;
  height: auto;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  margin-bottom: 5%;
}

.text-inButton {
  @include text;
  text-transform: none;
  text-align: left;
  margin-left: 5%;
}

 // ------ FONTS ------//
.category-single-element {
  @include category;
  margin-top: 5%;
  margin-left: 3%;
  margin-bottom: 3%;
}

.category {
  @include category;
}

.title-box {
  @include title-box;
}

.title-box-singleElement {
  @include title-box;
  margin-left: 5%;
}

.text {
  @include text;
}

 // ------ BOXES AND ELEMENTS ------//
.title-image-singleElement {
  @include long-element;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.long-element {
  @include long-element;
}

.long-element-box {
  @include long-element-box;
}
