.footer {
  margin-top: 10%;
  height: 4.5em;
  width: 100%;
  background-color: $main-color-pale;
  opacity: 0.9;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 4.5em;
  bottom: 0;
}

.footer-text {
  font-family: $main-font;
  font-size: 14px;
  color: white;
  font-weight: 300;
}
