@mixin button() {
  width: 172px;
  height: 48px;
  background-color: #fff;
  margin-bottom: 10%;
  margin-top: 10%;
  margin: 0 auto;
  border: {
    style: solid;
    width: 2px;
    color: $main-color;
    radius: 7px;
  }
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  ::-webkit-scrollbar {
    visibility: hidden;
  }
}

.container-slider {
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
  flex: 0 0 auto;
}

.container{
    position: relative;
    margin: 0 auto;
    height: 13.5em;
    margin-bottom: 25px;
}

.square-element {
  height: 100%;
  width: 15em;
  object-fit: cover;
  margin-right: 1em;
}


.square-element-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, .7);
}


@mixin long-element() {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@mixin long-element-box() {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: rgba(255, 255, 255, .7);
  display: flex;
}

.like-front {
  height: 60%;

}

.flexbox-single-elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  overflow: hidden;
}

.single-element {
  display: flex;
  flex-direction: column;
  background-color: $light-grey;
  width: 90%;
  height: 22em;
  margin-top: 10%;
}

.single-element-img {
  height: 200px;
  width: 85%;
  object-fit: cover;
  box-shadow: 0px 2px 4px #888888;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 15px;
}

// .single-element-like {
//   height: 13%;
// }

.single-element-title {
  color: black;
  margin: 2%;
  z-index: 4;
  font: {
    family: $main-font;
    size: 22px;
    weight: 600; //Semibold
  }
}

.fade {
  background: linear-gradient(to bottom, rgba($light-grey,0) 0%,rgba($light-grey,1) 95%);
  height: 200px;
  margin-top: -150px;
  position: relative;
}

.portrait-picture {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
}
