@mixin google-font($font) {
  $font: unquote($font);
  @import url('https://fonts.googleapis.com/css?family=#{$font}')
}

// @mixin small-screens() {
//   @media only screen and (max-width: 420px)
//
// }

@mixin button() {
  width: 172px;
  height: 48px;
  background-color: #fff;
  margin-bottom: 10%;
  margin-top: 10%;
  margin: 0 auto;
  border: {
    style: solid;
    width: 2px;
    color: $main-color;
    radius: 7px;
  }
}

@mixin filter-button() {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 5%;
  margin-top: 5%;
  background-color: #fff;
  border: {
    style: solid;
    width: 2px;
    color: $main-color;
    radius: 7px;
  }
}
